<html lang="en">
    <%- include('./partials/head.ejs')%>


<body>
    <%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>All blogs</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non totam doloremque voluptateus cupiditate repudiandae aspernatur quisquam culpa reiciendis!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non totam doloremque voluptateus cupiditate repudiandae aspernatur quisquam culpa reiciendis!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non totam doloremque voluptateus cupiditate repudiandae aspernatur quisquam culpa reiciendis!</p>
</div>
</body>
<%-include("./partials/footer.ejs")%>

</html>